body {
  font-size: 0.8rem;
}

.app {
  display: flex;
  position: relative;
}

.app main {
  padding:12px 12px 12px 252px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: transparent !important;
}

.form-label{
  font-size: 0.8rem;
  margin-bottom: 4px;
  font-weight: 500;
  color: var(--gray);
}
.w-20 {
  width: 20% !important;
}
.w-15 {
  width: 15% !important;
}

span.error{
  font-size: 0.8rem;
}
.css-1pahdxg-control{
  border-color: #F5F6F8 !important;
}

.error > .css-yk16xz-control {
 border-color: var(--danger) !important;
}
.error > .css-1pahdxg-control {
 border-color: var(--danger) !important;
}
.error > .css-1pahdxg-control:hover {
 border-color: var(--danger) !important;
}

.f-95{
  font-size: 0.95rem !important;
}

.error .css-1wa3eu0-placeholder {
 color: var(--danger) !important;
}

.css-g1d714-ValueContainer{
  padding : 10px 5px !important;
}

.bg-light2{
  background-color: #f8f9faa2;
}

.thead-dark2 {
  background-color: #545454;
  border : none !important;
}

.css-1wa3eu0-placeholder{
  font-size: 0.85rem !important;
}

.form-control.error {
  border-color: var(--danger);
  color: var(--danger);
  font-weight: unset;
}

.b-right{
  border-right: 2px solid #21212125;
}

.b-left{
  border-left: 2px solid #21212125;
}

.error:focus {
  outline: var(--danger) auto 2px !important;
  box-shadow: none !important;
  border-color: none !important;
}

.error::placeholder {
  color: var(--danger) !important;
  opacity: 1; /* Firefox */
}

.click {
  cursor: pointer !important;
}

.customtable td {
  font-size: 0.9rem;
  color:  var(--secondary);
}
.pro-sidebar {
  height: 100vh !important;
  position: fixed !important;
}

.pro-menu-item {
  background-color:  #4b025f!important;
  font-size: 14px !important;
  padding-top: 2px ;
  font-weight: 500 !important;
  padding-bottom: 2px ;
}

.pro-menu-item.active{
  background-color:  #7d028d !important;
  color : white !important;
}

.pro-inner-list-item {
  background-color:  #4b025f !important;
  padding-left: 0px !important ;
}

.pro-sidebar .pro-menu {
  padding-top: 0px !important;
}

.line-hight-1{
  line-height: 1.1rem !important;
}

.text-header{
  color: #545454 !important;
}

.text-dark2{
  color: #545454 !important;
}

.font-08 {
  font-size: 0.8rem !important;
}

.pro-inner-item::before{
  content: unset !important;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item{
  padding : 3px 35px 3px 7px !important;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item {
  padding : 8px 35px 8px 20px !important;
}

.pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
  background-color:  unset !important;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d; 
}

.border-secondary2 {
  border : 1px solid #5a5a5a; 
  color:  #444444 !important;
  font-size: 0.9rem !important;
}

.bg-card {
  background-color: #6d6d6d0e;
}

.d-flex-custom {
  display: flex !important;
  flex-wrap: wrap !important;
}

.pointer {
  cursor: pointer;
}

.border-secondary3 {
  border : 1px solid #5a5a5a; 
  color:  #444444 !important;
  font-size: 0.8rem !important;
}


/* loading */

#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #212121;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid rgb(221, 232, 247);
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid rgb(125, 169, 228);
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid rgb(75,2,88);
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: #4b025f;
  border-bottom-color: #4b025f;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #65a2c5;
  border-bottom-color: #4b025f;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #4b025f;
  border-bottom-color: #4b025f;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#content-wrapper {
  color: #FFF;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}

#header
{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  background-color: #666;
}

#content
{
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: #888;
}

.splash-error {
  position: fixed;
width: 500px;
height: 150px;
margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
left: 0;
right: 0;
}
